body {
  font-family: "Helvetica Neue", Helvetica;
  background-color: white;
}

.content-wrap {
  width: 961px;
  margin: 0 auto;
  padding: 50px 0 0;
}

.main {
  display: flex;
}
.coll {
  text-transform: uppercase;
  font-size: 35px;
  background-color: orange;
  color: white;
  left: 15px;
  box-sizing: border-box;
  padding: 2px;
  float: left;
}

.rex {
  text-transform: uppercase;
  font-size: 35px;
  border: 2px;
  border-style: solid;
  border-color: orange;
  box-sizing: border-box;
  left: 15px;

  float: left;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.cart {
  width: 60px;
  background-color: #27b814;
  font-size: 12px;
  padding: 20px 20px 15px 20px;
  white-space: nowrap;
  color: white;
  display: flex;
  justify-content: center;
}

.white {
  color: white;
  padding-right: 5px;
}

.phone_num {
  margin: 5px;
  padding: 15px 15px 15px 5px;
  
}

.mail {
  margin: 5px;
  margin-right: 60px;
  padding: 15px 15px 15px 5px;
}

.top_menu_container{
  display: flex;
}

.styles {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  text-transform: capitalize;
  text-align: center;
  flex-direction: row;
}

.listitem {
 
  color: #000000;
  line-height: 1em;
  object-fit: contain;
  text-decoration: none;
  list-style-type: none;
  padding-right: 5%;
  padding-left: 5%;
  width: auto;
  flex-grow:3;
}

.offer:hover {
  opacity: 0.8;
  background-color: blue ;
 
  color: white;
}

li:last-child {
  margin-right: 0;
  padding-right: 0;
}

.fas {
  color: orange;
}

.title {
  font-size: 40px;
  margin-left: 25px;
}

.paintings {
  z-index: 1;
  top: 0;
  width: 400px;
  overflow-wrap: normal;
  text-align: justify;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.paintings_2 {
  width: 375px;
  height: 350px;
  margin-left: 25px;
}

.column_1 {
  flex-grow: 1;
}

.description_margin {
  margin-top: 0;
  margin-left: 25px;
}

.description_2 {
  font-size: 13px;
  padding-right: 20px;
  text-align: justify;
}

.column_2 {
  flex-grow: 1;
}

.quantity {
  width: 15%;
  text-align: center;
}

.buy_now {
  display: inline;
}

.product {
  border: 1px solid black;
  box-sizing: border-box;
  width: 230px;
  padding-left: 25px;
  padding-bottom: 5px;
}

.column_3 {
  flex-grow: 1;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.img {
  height: auto;
  max-width: 100%;
  padding-top: 10px;
}

form {
  margin-left: 20px;
}

.line {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.price {
  flex-shrink: 0;
  font-weight: bold;
}

.add_to_cart_btn:hover {
  background-color: #2f4766;
  border-radius: 4px;
}

.add_to_cart_btn {
  border-radius: 4px;
  background-color: #27b814;
  color: white;
  margin-left: -5.5px;
}

.heart {
  color: red;
  margin: 2px;
}

.footer {
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 2.5rem;
}

#tabela {
  display: flex;
  justify-content: space-between;
  max-width: 961px;
  width: 100%;
}

.top {
  font-size: 13px;
}

.link {
  color: #4383af;
}

.asses_cent {
  text-transform: lowercase;
}